/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
#pragma once

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>


#define AS(keycode) &as LS(keycode) keycode

/ {
    macros {
        five_up: five_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp UP &kp UP &kp UP &kp UP &kp UP>;
        };
        email: email {
            label = "my_email";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp O &kp L &kp I &kp V &kp I &kp E &kp R>
                , <&macro_tap &kp AT>
                , <&macro_tap &kp G &kp L &kp O>
                , <&macro_tap &kp DOT>
                , <&macro_tap &kp Q &kp U &kp E &kp B &kp E &kp C>
                ;
        };
    };
    behaviors {
        as: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping_term_ms = <135>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        bspdel: backspace_delete {
            label = "backspace_delete";
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp DELETE>;
            mods = <(MOD_LSFT)>;
        };
        fiveup: go_five_up {
            label = "go_five_up";
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp UP>, <&kp &five_up>;
            mods = <(MOD_LSFT)>;
        };
    };
    keymap {
            compatible = "zmk,keymap";

            default {
                    bindings = <
// |------------+------------+------------+------------+-----------|                        |------------+------------+------------+------------+------------|
       &kp Q        &kp W        &kp F        &kp P        &kp B                                &kp J         &kp L        &kp U        &kp Y      &kp SEMI 
// |------------+------------+------------+------------+-----------|                        |------------+------------+------------+------------+------------|
       &kp A      &mt LCTRL R  &mt LALT S   &mt LGUI T  &mt LSHIFT G                         &mt RSHIFT M  &mt RGUI N   &mt RALT E   &mt RCTRL I   &kp O
// |------------+------------+------------+------------+-----------|                        |------------+------------+------------+------------+------------|
       &kp Z        &kp X        &kp C        &kp D        &kp V                                &kp K         &kp H      &kp COMMA    &kp DOT      &kp FSLH
// |------------+------------+------------+------------+-----------+----------|  |----------+------------+------------+------------+------------+------------|
                                              &kp TAB      &mo 1     &kp SPACE     &kp ESC      &mo 2       &kp BSPC
//                                        |------------+-----------+----------|  |----------+------------+------------|
                    >;
            };

            lower {
                    bindings = <
// |------------+------------+------------+------------+-----------|                        |------------+------------+------------+------------+------------|
       AS(N1)        AS(N2)      AS(N3)       AS(N4)      AS(N5)                                AS(N6)       AS(N7)       AS(N8)        AS(N9)      AS(N0)
// |------------+------------+------------+------------+-----------|                        |------------+------------+------------+------------+------------|
       &kp EXCL    &kp AT       &kp HASH     &kp DLLR    &kp PRCNT                             &kp LBRC    &kp RBRC     &kp LBKT     &kp RBKT      &kp PIPE
// |------------+------------+------------+------------+-----------|                        |------------+------------+------------+------------+------------|
      &kp CARET    &kp AMPS     &kp STAR     AS(MINUS)    AS(PLUS)                             &kp GRAVE    &kp TILDE    &kp LPAR     &kp RPAR     &kp BSLH
// |------------+------------+------------+------------+-----------+----------|  |----------+------------+------------+------------+------------+------------|
                                              &kp TAB      &none     &kp SPACE       &none      &none         &none
//                                        |------------+-----------+----------|  |----------+------------+------------|
                    >;
            };

            raise {
                    bindings = <
// |------------+------------+------------+------------+-----------|                        |------------+------------+------------+------------+------------|
      &none         &none        &none        &none        &none                               &none         &none        &none        &none        &none
// |------------+------------+------------+------------+-----------|                        |------------+------------+------------+------------+------------|
       &email       &none        &none        &none        &none                               $none        &kp LEFT     &kp UP      &kp DOWN     &kp RIGHT
// |------------+------------+------------+------------+-----------|                        |------------+------------+------------+------------+------------|
      &none         &none        &none        &none        &none                               &none         &none        &none        &none        &none
// |------------+------------+------------+------------+-----------+----------|  |----------+------------+------------+------------+------------+------------|
                                            &kp RSHIFT     &none     &kp SPACE      &none       &none        &none
//                                        |------------+-----------+----------|  |----------+------------+------------|
                    >;
            };
    };
};
