/* symbols */
ZMK_UNICODE_SINGLE(tilde, N0, N0, N7,  E) // ~
ZMK_UNICODE_SINGLE(grave, N0, N0, N6, N0) // `

ZMK_UNICODE_PAIR(es_punc,   N0, N0, B , F ,   N0, N0, A , N1) // ¿/¡

ZMK_UNICODE_HEX(yh,         D , N8, N3, D , D , C , N9, B)    // 💛
ZMK_UNICODE_HEX(usds,       D , N8, N3, D , D , E , N4, N3)   // 🙃
ZMK_UNICODE_HEX(hot,        D , N8, N3, E , D , D , N7, N5)   // 🥵
ZMK_UNICODE_HEX(eyes,       D , N8, N3, D , D , C , N4, N0)   // 👀
ZMK_UNICODE_SINGLE(stars,   N2, N7, N2, N8)                   // ✨
ZMK_UNICODE_HEX(danc,       D , N8, N3, D , D , C , N8, N3)   // 💃
ZMK_UNICODE_HEX(pray,       D , N8, N3, D , D , E , N4, F)    // 🙏
ZMK_UNICODE_HEX(humf,       D , N8, N3, D , D , E , N2, N9)   // 😩
